= form_for [:admin, @page] do |f|
  = render 'shared/error_messages' , :target => @page
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :content
    %br
    = f.text_area :content, :class => "tinymce"
  %p
    = button_submit_tag button
    = danger_button_link_to t("cancel"), admin_users_url
