!!!
%html
  = render 'shared/html_head_admin'
  %body
    %header
      %h1 AA CMS
      %nav.main
        = link_to(image_tag(gravatar_url_for(current_user.email)))
        %span
          = welcome(current_user)
          %span 
            |
          = link_to t("dashboard"), admin_root_url
          %span 
            |
          = link_to t("settings"), admin_settings_url
        
        .logout= arrowright_danger_button_link_to t("logout"), logout_url
      .clear
        
    %nav#navbar
      = button_group do
        = admin_menu_item(:pages)
        = admin_menu_item(:users)
      
    = breadcrumb

    %section#content
      = show_notice
      = yield
    %footer
      = link_to "AA Tecnologia", "http://www.aatecnologia.com.br", :target => "_blank"
    
    = javascript_include_tag :defaults
    = javascript_include_tag "libs/jquery.tinymce.js"
    = javascript_include_tag "editor.js"
