!!!
%html
  %head
    %title DoubleACms
    = stylesheet_link_tag :all
    = csrf_meta_tag
  %body
    %nav
      %ul
        %li{:class => (request.url.match("/admin/pages") ? "selected" : "")}
          = link_to "Pages", admin_pages_url
        %li{:class => (request.url.match("/admin/users") ? "selected" : "")}
          = link_to "Users", admin_users_url
    %section#content
      = yield
    = javascript_include_tag :defaults
    = javascript_include_tag "libs/jquery.tinymce.js"
    = javascript_include_tag "editor.js"
